<ul class="benefits-box">

        {% if product.metafields.custom.product_characteristic_1 !=blank %}
        <li class="benefits">
        {{ product.metafields.custom.product_characteristic_1 }}</li>
         {% else %}
        <li class="benefits">Arch Support</li>
        {% endif %}

        {% if product.metafields.custom.product_characteristic_2 !=blank %}
        <li class="benefits benefit-second">
        {{ product.metafields.custom.product_characteristic_2 }}</li>
        {% else %}
         <li class="benefits benefit-second">Easy to Adjust</li>
        {% endif %}

</ul>

 <style>
      .benefits-box {
        margin: 0 auto;
      }
   
.benefits::before {
       content: url("https://cdn.shopify.com/s/files/1/0612/1177/1120/files/foot.svg?v=1708598078"); 
        display: inline-block;  
        width: 20px;
        margin-right: 15px;
      }
     /* .benefit-first,
     .benefit-second{
        display: flex;
       font-size: 14px;
       color: #4d4d4d;
       margin-top: 5px;
     }

    .benefit-first::before,
    .benefit-second::before {
        display: inline-block;  
        width: 20px;
        margin-right: 15px;
      } */

   .benefit-first{
     content: url("https://cdn.shopify.com/s/files/1/0612/1177/1120/files/foot.svg?v=1708598078"); 
   }

   .benefit-second{
     content: url("https://cdn.shopify.com/s/files/1/0612/1177/1120/files/barefoot.svg?v=1708598078"); 
   }
    </style>