{{ 'custom-table.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}

<div class="custom-table">
    <div class="container">
        <div class="custom-table__inner">
            <div class="custom-table__chart">
                <ul>
                    <li class="custom-table__chart--desc" id="productTableInfo">
                        {% if product.metafields.custom.product_table_1 %}
                            <p>{{ product.metafields.custom.product_table_1 }}</p>
                        {% endif %}
                        {% if product.metafields.custom.product_table_2 %}
                            <p>{{ product.metafields.custom.product_table_2 }}</p>
                        {% endif %}

                        <p>Sodium fluoride free</p>
                        <p>Poloxamer free</p>
                        <p>Titanium dioxide free</p>
                    </li>
                    <li class="custom-table__chart--brand">
                        <p><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="white"/>
                                <rect x="5.3125" y="12.7896" width="2.73456" height="7.87745" transform="rotate(-45 5.3125 12.7896)" fill="#FF444F"/>
                                <rect x="18.7871" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 18.7871 6.5625)" fill="#FF444F"/>
                            </svg> </p>
                        <p><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="white"/>
                                <rect x="5.3125" y="12.7896" width="2.73456" height="7.87745" transform="rotate(-45 5.3125 12.7896)" fill="#FF444F"/>
                                <rect x="18.7871" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 18.7871 6.5625)" fill="#FF444F"/>
                            </svg> </p>
                        <p><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="white"/>
                                <rect x="5.3125" y="12.7896" width="2.73456" height="7.87745" transform="rotate(-45 5.3125 12.7896)" fill="#FF444F"/>
                                <rect x="18.7871" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 18.7871 6.5625)" fill="#FF444F"/>
                            </svg> </p>
                        <p><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="white"/>
                                <rect x="5.3125" y="12.7896" width="2.73456" height="7.87745" transform="rotate(-45 5.3125 12.7896)" fill="#FF444F"/>
                                <rect x="18.7871" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 18.7871 6.5625)" fill="#FF444F"/>
                            </svg> </p>
                        <p><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="white"/>
                                <rect x="5.3125" y="12.7896" width="2.73456" height="7.87745" transform="rotate(-45 5.3125 12.7896)" fill="#FF444F"/>
                                <rect x="18.7871" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 18.7871 6.5625)" fill="#FF444F"/>
                            </svg> </p>
                        <div class="custom-table__chart--brand--image">
                            <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/1_ba4428bd-8dce-497c-837a-36b55dc9e3ff.png?v=1705481949" alt="1">
                            <h2>EASYFEET</h2>
                        </div>
                    </li>
                    <li class="custom-table__chart--other">
                        <p>
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="#343434"/>
                                <rect x="16.3535" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 16.3535 6.5625)" fill="white"/>
                                <rect x="6.66602" y="8.49609" width="2.73456" height="13.8464" transform="rotate(-45 6.66602 8.49609)" fill="white"/>
                            </svg>
                        </p>
                        <p>
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="#343434"/>
                                <rect x="16.3535" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 16.3535 6.5625)" fill="white"/>
                                <rect x="6.66602" y="8.49609" width="2.73456" height="13.8464" transform="rotate(-45 6.66602 8.49609)" fill="white"/>
                            </svg>
                        </p>
                        <p>
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="#343434"/>
                                <rect x="16.3535" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 16.3535 6.5625)" fill="white"/>
                                <rect x="6.66602" y="8.49609" width="2.73456" height="13.8464" transform="rotate(-45 6.66602 8.49609)" fill="white"/>
                            </svg>
                        </p>
                        <p>
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="#343434"/>
                                <rect x="16.3535" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 16.3535 6.5625)" fill="white"/>
                                <rect x="6.66602" y="8.49609" width="2.73456" height="13.8464" transform="rotate(-45 6.66602 8.49609)" fill="white"/>
                            </svg>
                        </p>
                        <p>
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="#343434"/>
                                <rect x="16.3535" y="6.5625" width="2.73456" height="13.8464" transform="rotate(45 16.3535 6.5625)" fill="white"/>
                                <rect x="6.66602" y="8.49609" width="2.73456" height="13.8464" transform="rotate(-45 6.66602 8.49609)" fill="white"/>
                            </svg>
                        </p>
                        <div class="custom-table__chart--other--image">
                            <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/2_5c4c5024-a883-465e-93dc-d749bb3e80f1.png?v=1705481950" alt="2">
                            <h2>OTHERS</h2>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="custom-table__cont">
                <h2>Why is EASYFEET so Special?</h2>
                <p>Easyfeet stands out as a unique company due fostering a global environment where top-notch specialists from around the world collaborate to create high-tech, innovative models of orthopedic and specialized insoles.</p>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Custom Table",
  "settings": [
  ],
  "presets": [
    {
      "name": "Custom Table",
      "category": "Custom"
    }
  ]
}
{% endschema %}