{{ 'text-with-image.css' | asset_url | stylesheet_tag }}

<section>
<div class="container">
            <div class="second-main">
                <div class="row column-reverse">
                    <div class="col-lg-6">
                        <div class="second-left">
                            {{ section.settings.des }}
                        </div>
                    </div>

                   <div class="col-lg-6">
                        <div class="second-right">
                            <div class="second-main-image">
                                <img src="{{ section.settings.img|img_url:'original' }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
        </section>

  
{% schema %}
{
  "name": "Text with image right",
  "settings": [
    
    {
      "type":"text",
      "label":"Description",
      "id":"des"
        },
    {
      "type":"image_picker",
      "label":"Main Image",
      "id":"img"
    }
  ],
  "presets":[
    {
      "name":"Text with image right",
      "category":"custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}