.donations{
    position: relative;
    background-color: #ffff;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;

}
.donations:after{
    position: absolute;
    content: '';
    background: #ffff;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .3;

}
.donations-box{
    position: relative;
    padding: 40px 0;
    text-align: center;
    z-index: 1;
}
.donations-box__content p{
    margin: 0;
    font-size: 20px;
  line-height: 28px;
    font-weight: 400;
    color: #000;
}
.donations-box__content h2{
    margin: 0;
    font-size: 64px;
  line-height: 64px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
}
.donations-box__content span{
    margin: 0;
    font-size: 64px;
  line-height: 64px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
}
.donations-box__image{
    margin: 20px 0 60px;
    gap: 50px;
    display: flex;
    justify-content: center;
}
.donations-box__image--left,
.donations-box__image--right{
    width: 350px;
    color: #fff;
    background: #141414;
    border-radius: 6px;
}
.donations-box__image--left img,
.donations-box__image--right img{
    border-radius: 6px 6px 0 0;
}
.donations-box__image--left p,
.donations-box__image--right p{
    padding: 5px 5px;
    font-size: 22px;
  line-height: 25px
    margin: 0;
    font-weight: 600;
}

.donations-box__link{
  display: none;
    cursor: pointer;
border-radius: 5px;
    width: 170px;
    height: 40px;
    justify-content: center;
    background: #ff444f;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease ;
    -ms-transition: all .3s ease ;
    -o-transition: all .3s ease ;
    transition: all .3s ease ;
}
.donations-box__link:hover{
    background: #f00;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease ;
    -ms-transition: all .5s ease ;
    -o-transition: all .5s ease ;
    transition: all .5s ease ;
    box-shadow: 2px 3px 3px 2px rgb(34 60 80 / 10%);
}
.donations-box__link a{
    color: #fff;
    font-size: 20px;
  line-height: 20px;
    font-weight: 900;
}
@media only screen and (max-width: 430px) {
  .donations-box__image--left, .donations-box__image--right{
    width: 157px;
    height: 226px;
  }
  .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 50px !important;
      line-height: 50px !important;
    }
  
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
      padding-top: 14px;
    }
}
@media only screen and (max-width: 428px) {
  .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 50px !important;
      line-height: 50px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
#donations-box__number{
   font-size: 50px !important;
      line-height: 50px !important;
}
@media only screen and (max-width: 414px) {
  .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 412px) {
  .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 400px) {
    .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 393px) {
    .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 390px) {
  .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 375px) {
   .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 365px) {
  .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 360px) {
  .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}
@media only screen and (max-width: 320px) {
   .donations-box{
    padding-top: 0;
  }
    .donations-box__content p{
        font-size: 16px;
      line-height: 20px;
    }

      .donations-box__content h2{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__content span{
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .donations-box__image--left p, .donations-box__image--right p{
     font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    }
}