.product-item{
    justify-content: center;
    gap: 50px;
}
.product-item__content{
    width: 33%;
}
.product-item__content--info h2{
    font-size: 32px;
  line-height: 32px;
  font-weight: 900;
}
.product-item__content--vendor{
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.product-item__content--price{
    display: flex !important;
    align-items: center !important;
    font-size: 22px;
  line-height: 22px;
}
.product-item__content--price h2{
    font-size: 22px !important;
    line-height: 22px;
    font-weight: 900;
    margin: 0;
}
.product-item__content--price h2 > span{

    align-items: center;
    margin: 0;
    font-size: 22px !important;
    line-height: 22px !important;
    font-weight: 900;
    color: #000;
}
.product-item__content--divider{
    margin: 20px 0;
}
.product-item__content--price span{
    font-size: 22px;
  line-height: 22px;
    margin-left: 5px;
    color: #ff444f;
}
.product-item__content--size{
    display: flex;
   flex-wrap: wrap;
}
.product-item__content--size label{
    font-size: 16px;
  line-height: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.product-item__content--btn .btn{
    width: 100%;
    font-size: 16px;
  line-height: 16px;
    font-weight: 900;
align-items: center;
}
.product-item__content--btn button{
    margin-top: 35px;
    cursor: pointer;
    background: #ff444f;
    border-radius: 5px;
    width: 313px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    transition: all .3s ease;
}
.product-item__content--btn button:hover{
    transition: all .5s ease;
    background: #f00;
}
span{
    margin: 0;
}

.size-button{
  font-size: 14px;
  line-height: 14px;
    border: 2px solid transparent; !important;
}
.size-button--active.size-button{
    background: white !important;
    border: 2px solid #ff444f !important;
}


@media only screen and (max-width: 430px) {
  .custom-page-content--metatext{
    width: 100%;
  }
  .custom-page-content--metatext{
    width: max-content !important;
  }
  .custom-page-content--desc{
     width: 320px !important;
  }
  .product-item__content{
    width: 100% !important;
  }
    .product-item{
        flex-direction: column;
    }
}
@media only screen and (max-width: 428px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 414px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 412px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 393px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 390px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 375px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 365px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 360px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 320px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 320px) {
    .custom-page-content--metatext{
    width: max-content;
  }
  .custom-page-content--desc{
     width: 300px;
  }
    .product-item{
        flex-direction: column;
    }
    .product-item__content--vendor{
        font-size: 12px;
    }
    .product-item__content--info h2{
        font-size: 22px;
    }
    .product-item__content--price h2{
        font-size: 25px;
    }
    .product-item__content--price h2 > span{
        font-size: 25px;
    }
    .product-item__content--price span{
        font-size: 20px;
    }
}
.product-info__advantages{
  font-size: 14px;
  line-height: 14px;
}
.buy-info__title{
  font-size: 22px;
  line-height: 22px;
}