.podiatrists{
    margin:  0 0 35px 0;
}
.podiatrists-inner ul{
    display: flex;
    align-items: baseline;
    gap: 10px;
    overflow-x: auto;
}
.podiatrists-inner li{
    padding: 30px;
    width: 300px;
    flex: 0 0 auto;
    margin-right: 20px;
  background: #F6F6F6;
  border-radius: 6px;
  margin-bottom: 20px;
}
.podiatrists-inner__image{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.podiatrists-inner__image img{
   
    height: 200px;
    width: 200px;
}
.podiatrists-inner__image--social img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -6%;
    left: 44%;
}
.podiatrists-inner__cont{
    margin-top: 20px;
    text-align: center;
}
.podiatrists-inner__cont h2{
    font-size: 22px;
    line-height: 30px;
    font-weight: 900;
    margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.podiatrists-inner__cont p{
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.podiatrists-inner__cont span{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 430px) {
  .podiatrists{
    margin: 0;
  }
.podiatrists-inner__cont h2{
  font-size: 15px;
  line-height: 15px;
  height: 0;
}
  .podiatrists-inner__cont p{
  font-size: 15px;
  line-height: 18px;
}
    .podiatrists-inner__cont span{
  font-size: 12px;
  line-height: 16px;
}
}