   .benefits-block {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
     align-items: center;
      }

    /* .benefits-box{
      margin-top: auto;
    } */

   .benefit-first,
   .benefit-second {
     display: flex;
     align-items: center;
     margin-top: 5px;
     font-size: 14px;
     color: #4d4d4d;
   }
   
   .benefit-first::before,
   .benefit-second::before {
     display: inline-block;  
     width: 14px;
     margin-right: 8px;
   }
   
   .benefit-first::before{
     content: url("https://cdn.shopify.com/s/files/1/0612/1177/1120/files/foot.svg?v=1708598078"); 
   }

   .benefit-second::before{
     content: url("https://cdn.shopify.com/s/files/1/0612/1177/1120/files/barefoot.svg?v=1708598078"); 
   }  

.custom-product-label {
  position: absolute;
  top: 0;
  right: 0;
  background: #d70000;
  padding: 1px 10px;
}

.custom-product-label span {
  color: #fff;
}

@media only screen and (max-width: 768px){
  .custom-product-label {
  top: 20px;
  left: 0;
}

  .custom-product-label span {
    color: #fff;
    font-size: 11px;
}
}