.second-main{
  background: #000;
  margin-top: 40px;
}
   .row{
     display: flex;
     justify-content: center;
     align-items: center;
   }
    
  .second-main-image img{
      width: 100%;
      height: auto;
      vertical-align: top;
      object-fit: cover;
   }
   .second-left{
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
     text-align: center;
   }
       
  .col-lg-6{
    width: 50%;
  }

   @media screen and (max-width: 767px){
    .second-main .column-reverse{
          display: flex;
          flex-direction: column-reverse;
        }

     .col-lg-6{
          width: 100%;
        }

     .second-left{
      font-size: 2.5rem;
       padding: 100px 0;
   }
     }
  